@model FIADatabase.Areas.FIANCFiles.Modules.HVI

@{
    ViewBag.Title = "Delete";
}

<h2 class="FIAText FIAh2 center">Delete</h2>

<h3 class="FIAText FIAh3 center">Are you sure you want to delete this?</h3>
<div>
    <h4 class="FIAText FIAh3 center">HVI</h4>
    <hr class="FIAText" />
    <dl class="dl-horizontal">
        @if (Model.Portrait != null)
        {
            <dd>
                <img class="portrait" src="data:image;base64, @System.Convert.ToBase64String(Model.Portrait)" />
            </dd>
        }

        @if (Model.Alias != null)
        {
            <dd class="FIAText FIAh2 center">
                @Html.DisplayFor(model => model.firstName) "@Html.DisplayFor(model => model.Alias)" @Html.DisplayFor(model => model.lastName)
            </dd>
        }
        else
        {
            <dd class="FIAText FIAh2 center">
                @Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)
            </dd>
        }

        <dt class="FIAText FIAp textBox">
            @Html.DisplayNameFor(model => model.DateofBirth): @Html.DisplayFor(model => model.DateofBirth)
        </dt>

        <dd class="FIAText FIAp textBox">
            @Html.Raw(Model.Bio)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color cyber-button-small back-button cyber-glitch-2">
            <input type="submit" value="Delete" class="btn btn-default FIAText" /> 
        </div>
        <div class="form-actions no-color cyber-button-small blue-button back-button cyber-glitch-2">
            @Html.ActionLink("Back to List", "Index")
        </div>
        
    }
</div>
