@model FIADatabase.Areas.FIANCFiles.Modules.HVI

@{
    ViewBag.Title = "Details";
}

@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<h2>Details</h2>

<div>
    <h4>HVI</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Portrait != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Portrait)
            </dt>

            <dd>
                <img src="data:image;base64, @System.Convert.ToBase64String(Model.Portrait)" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.Raw(Model.Bio)
        </dd>

    </dl>
</div>
<p>
    @{
        if (isLoggedIn)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.HVIId })
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
