@model FIADatabase.Areas.FIANCFiles.Modules.HVI

@if (Model.Alias != null)
{

    ViewBag.Title = Model.firstName + " \"" + Model.Alias + "\" " + Model.lastName;

}
else
{
    ViewBag.Title = Model.firstName + " " + Model.lastName;
}

@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<div>
    <dl class="dl-horizontal">
        @if (Model.Portrait != null)
        {

            <dd>
                <img class="portrait" src="data:image;base64, @System.Convert.ToBase64String(Model.Portrait)" />
            </dd>
        }

        @if (Model.Alias != null)
        {
            <dd class="FIAText FIAh2 center">
                @Html.DisplayFor(model => model.firstName) "@Html.DisplayFor(model => model.Alias)" @Html.DisplayFor(model => model.lastName)
            </dd>
        }
        else
        {
            <dd class="FIAText FIAh2 center">
                @Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)
            </dd>
        }


        <dt class="FIAText FIAp textBox">
            @Html.DisplayNameFor(model => model.DateofBirth): @Html.DisplayFor(model => model.DateofBirth)
        </dt>

        <dd class="FIAText FIAp textBox">
            @Html.Raw(Model.Bio)
        </dd>

    </dl>
</div>
<p>
    @{
        if (isLoggedIn)
        {
            <div class="cyber-button-small back-button center">
                @Html.ActionLink("Edit ", "Edit", new { id = Model.HVIId })
            </div>
        }
    }

    <div class="cyber-button-small blue-button back-button center">
        @Html.ActionLink("Back to List", "Index")
    </div>

</p>
