@model IEnumerable<FIADatabase.Areas.FIANCFiles.Modules.HVI>

@{
    ViewBag.Title = "Index";
}

@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<h2 class="FIAText FIAh2 center">Index</h2>

@{
    if (isLoggedIn)
    {
    <p class="cyber-button-small blue-button back-button cyber-glitch-2">
        @Html.ActionLink("Create New", "Create")
    </p>
    }
}

<table class="table no-border">
    @foreach (var item in Model)
    {
        <tr>
            <td class="cyber-button-small wide blue-button back-button">
                <a href=@Url.Action("Details", new { id = item.HVIId })><p>@Html.DisplayFor(modelItem => item.firstName) "@Html.DisplayFor(modelItem => item.Alias)" @Html.DisplayFor(modelItem => item.lastName)</p></a>
            </td>

            @{
                if (isLoggedIn)
                {
                    <td class="cyber-button-small back-button center">
                        @Html.ActionLink("Edit ", "Edit", new { id = item.HVIId })
                    </td>
                    <td class="cyber-button-small back-button center" center>
                        @Html.ActionLink("Delete ", "Delete", new { id = item.HVIId })
                    </td>
                }
            }
        </tr>
    }
</table>
