@model FIADatabase.Areas.FIANCFiles.Modules.Shard

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/FIANCFiles/Views/Shared/_Layout.cshtml";
}

<h2 class="FIAText FIAh2 center">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="FIAh3 FIAText center">Shard</h4>
        <hr class="FIAText"/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.shardId)

        <div class="form-group centered-div">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 FIAText FIAp margins width" })
            <div class="col-md-10 cyber-input ac-red fg-black">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "FIAText" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2 FIAText FIAp margins width center" })
            <div class="col-md-10 textBox">
                @Html.EJS().RichTextEditorFor(model => model.Content).Render()
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 submit-button cyber-glitch-2">
                <div class="cyber-button-small">
                    <input type="submit" value="Save" class="btn btn-default cyber-input FIAText" />
                </div>
            </div>
        </div>
    </div>
}

<div class="cyber-button-small blue-button back-button cyber-glitch-2">
    @Html.ActionLink("Back to List", "Index", new { @class = "FIAText" })
</div>