@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/Images/seal.png" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.2.4/fluent.css" />
    <script src="https://cdn.syncfusion.com/ej2/23.2.4/dist/ej2.min.js"></script>
    <title>@ViewBag.Title - FIA Database</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="FIAbody">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("FIA Database", "Index", "Home", new { area = "" }, new { @class = "navbar-brand FIAh3" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "NCIndex", "Prologues", new { area = "FIANCFIles" }, new { @class = "nav-link FIAp" })</li>
                    <li>@Html.ActionLink("HVIs", "Index", "HVIs", new { area = "FIANCFIles" }, new { @class = "nav-link FIAp" })</li>
                    <li class="drop">
                        @Html.ActionLink("Main Entries", "Main", "Prologues", new { area = "FIANCFiles" }, new { @class = "nav-link FIAp" })
                        <div class="dropdown-content">
                            @Html.ActionLink("Prologue", "Index", "Prologues", new { area = "FIANCFiles" }, new { @class = "nav-link FIAp bg-dark" })
                            @Html.ActionLink("Act 1", "Index", "ActIs", new { area = "FIANCFiles" }, new { @class = "nav-link FIAp bg-dark" })
                            @Html.ActionLink("Interlude", "Index", "Interludes", new { area = "FIANCFiles" }, new { @class = "nav-link FIAp bg-dark" })
                        </div>
                    </li>
                    @{
                        if (isLoggedIn)
                        {
                            <li>@Html.ActionLink("Signout", "Signout", "Users", new { @class = "nav-link FIAp" })</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="FIAText FIAh1 center">Night City Files</h1>
    <div class="container body-content">
        @RenderBody()
        <hr class="FIAText" />
        <footer>
            <p class="FIAText">&copy; 2077 - FIA Database</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.EJS().ScriptManager()
</body>
</html>

